<h1>Reisinformatie</h1>
<p>Zoek hier de huidige informatie over jouw reis.</p>
<form action="/journey" method="POST">
<h2>Zoek jouw reis</h2>
<fieldset>
	<legend>Vertrek- en eindstation</legend>
	<label>Van <input type="text" placeholder="Vetrekstation"></label>
	<label>Naar <input type="text" placeholder="Eindstation"></label>
</fieldset>
<input type="submit" value="Zoek reis">
</form>