* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 0.9em Helvetica, Arial; 
}

form {
    background: #000;
    padding: 0.2em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border: 0;
    padding: 0.65em;
    width: 89%;
    margin-right: 0.5%;
}

form button {
    width: 10%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 0.65em;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
	padding: 0.4em 0.6em;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#messages li.general {
	background: #b4bbfb;
	font-style: italic;
	border-left: 0.3em solid black;
}